<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://jspm.io/system@0.16.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="src/index.js"></script>
    <script src="src/service.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div>
        <input type="text" ng-model="taskName">
        <button ng-click="addNewTask(taskName)">Dodaj zadanie</button>
        <div ng-repeat="task in taskList">{{task.id}} || {{task.title}} || {{task.isDone}}</div>
    </div>
</body>
</html>